<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About shrey</title>
</head>
<body>
    <div class="about">
        <h1>Hi everyone</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, sapiente. Eaque sed repellendus ad a porro, ipsam provident laborum tempora! Magni distinctio illum officiis nihil ratione magnam quos in sequi.</p>
    </div>
    <img class="pic" src="" alt="">
</body>
</html>