<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/homeview.css">
    <title> © shreyanish </title>
</head>
<body>
    <header>
        <div class="main-title"> >>41<< </div>
        <div class="main-title-sub" id="sub">tech & media.</div>
    </header>

    <div class=technmedia>
    <!--tech-body-->
    <div class="techbody">    
        <div class="tech-title" id="sub-heading">tech</div>
        <div class="tech-title-sub" id="sub">f.caption</div>
        <div class="tech-logos">
            {% for tech_object in tech_list %}
                <!--<img src="tech_object.logo.url">-->
                <div class="logo"><img src="{{tech_object.logo}}"></div>
            {% endfor %}
        </div>
    </div>
    <!--tech-body-ends-->
    <!--media-body-->
    <div class="mediabody">
        <div class="media-title" id="sub-heading">media</div>
        <div class="media-title-sub" id="sub">f.caption</div>
        <div class="media-logos">
            {% for media_object in media_list %}
                <div class="logo"><img src="{{media_object.logo}}"></div>
            {% endfor %}
        </div>
    </div>
    <!--media-body-ends-->
    </div>
    <footer>
        <div class="contact-title" id="sub-heading">contact</div>
        <div class="contact-title-sub" id="sub">contact41(at)gmail(dot)com</div>
        <div class="contact-socials">
            <a href="https://www.instagram.com/shrey.jpg/" target="_blank"><div class="insta" id="socials">Instagram</div></a>
            <a href="https://twitter.com/shreyanish" target="_blank"><div class="twitter" id="socials">Twitter</div></a>
        </div>
    </footer>
</body>
</html>